<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.rohngonnarock.ringtone" version="0.2.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ringtone</name>
    <description>Ringtone Plugin</description>
    <author>Rahul Prajapati</author>
    <keywords>ecosystem:cordova,cordova-android,cordova,ringtone,android,phonegap</keywords>
    <repo>https://github.com/rohngonnarock/cordova-plugin-ringtone.git</repo>
    <issue>https://github.com/rohngonnarock/cordova-plugin-ringtone/issues</issue>
    <license>MIT</license>
	<js-module name="ringtone" src="www/ringtone.js">
		<clobbers target="cordova.plugins.ringtone" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ringtone">
				<param name="android-package" value="com.rohngonnarock.ringtone.ringtone" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
		<source-file src="src/android/ringtone.java" target-dir="src/com/rohngonnarock/ringtone/ringtone" />
	</platform>
</plugin>